/* Exercício Nº1 */

button{
    padding: 10px;
    border-radius: 5px;
    width: 70px;
    color: white;
    background-color: black;
}
button:hover{
    background-color: lightblue;
    transition: .5s;
    color: black;
}

/* Exercício Nº2 */

a.ex2{
    text-decoration: none;
    padding: 10px;
    color: black;
    font-size: 25px;
    border-radius: 5px;
    transition: .4s;
    display: none;
    animation-name: exemplo2;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    margin: 2px;
}

@keyframes exemplo2{
    0%{font-size: 0px;}
    100%{font-size: 25px;}
}

.exe2{
    background-color: lightblue;
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 30px;
    transition: .5s;
    width: 1px;
    height: 1px;
    border-radius: 30px;
}

a.ex2:hover{
    color: white;
    background-color: black;
    transition: .4s;
    font-size: 28px;
    padding: 15px;
    border-radius: 20px;
}

.exe2:hover{
    background-color: lightcoral;
    width: 30%;
    height: 30px;
}

.exe2:hover a.ex2{
    display: block;
}

/* Exercício Nº3 */

img{
    width: 132px;
    position: relative;
}

.moonkase{
    animation-name: moonkase;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-delay: 3s;
    animation-timing-function: linear;
}

@keyframes moonkase{
    from{left: 0%; position: absolute;}
    to{left: 100%; position: absolute;}
}

.jvnq{
    animation-name: jvnq;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-delay: 4s;
    animation-timing-function: linear;
}

@keyframes jvnq{
    from{padding-left: 0%; position: absolute;}
    to{padding-left: 100%; position: absolute;}
}

.calango{
    animation-name: calango;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-delay: 5s;
    animation-timing-function: linear;
}

@keyframes calango{
    from{left: 0%; position: absolute;}
    to{left: 100%; position: absolute;}
}

.jean{
    width: 110px;
    animation-name: jean;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-delay: 6s;
    animation-timing-function: linear;
}

@keyframes jean{
        from{left: 0%; position: absolute;}
        to{left: 100%; position: absolute;}
}

.luba{
    animation-name: luba;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-delay: 7s;
    animation-timing-function: linear;
}

@keyframes luba{
    from{left: 0%; position: absolute;}
    to{left: 100%; position: absolute;}
}

.renan{
    animation-name: renan;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-delay: 8s;
    animation-timing-function: linear;
}

@keyframes renan{
    from{left: 0%; position: absolute;}
    to{left: 100%; position: absolute;}
}

.cap{
    animation-name: cap;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-delay: 9s;
    animation-timing-function: linear;
}

@keyframes cap{
    from{left: 0%; position: absolute;}
    to{left: 100%; position: absolute;}
}

.alan{
    animation-name: alan;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-delay: 10s;
    animation-timing-function: linear;
}

@keyframes alan{
    from{left: 0%; position: absolute;}
    to{left: 100%; position: absolute;}
}





